<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">Users</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Users</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Users</strong>
                        </h2>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">

                  </div>
                </div>

              </div>
              <div class="container border">
                <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
                <div class="row order-block-heading ">
                  <div class="col-1">Sl.No</div>
                  <div class="col-2">Name</div>

                  <div class="col-3">Email Id</div>
                  <!-- <div class="col-1">Status</div> -->
                  <div class="col-2">Mobile</div>
                  <div class="col-2">Post Code</div>
                  <div class="col-2">State</div>
                </div>

                <div *ngFor="let u of userInfo; let i =index">
                  <div *ngIf="adminInfo.role== 'state_admin'">
                    <div class="row order-block" *ngIf="u.state ===stateInfo.state_name">
                      <div class="col-1">{{i}}</div>
                      <div class="col-2">{{u.firsr_name}}&nbsp;{{u.last_name}}</div>

                      <div class="col-3">{{u.email_id}}</div>
                      <div class="col-2">{{u.phone_number}}</div>
                      <div class="col-2">{{u.post_code}}</div>
                      <div class="col-2">{{u.state}}</div>

                    </div>
                  </div>
                  <div *ngIf="adminInfo.role== 'admin'">
                    <div class="row order-block">
                      <div class="col-1">{{i}}</div>
                      <div class="col-2">{{u.firsr_name}}&nbsp;{{u.last_name}}</div>

                      <div class="col-3">{{u.email_id}}</div>
                      <div class="col-2">{{u.phone_number}}</div>
                      <div class="col-2">{{u.post_code}}</div>
                      <div class="col-2">{{u.state}}</div>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>