<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">Vegitable Box</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Vegitable Box</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card custom-card">
      <div class="body">
        <div class="materialTableHeader">
          <div class="row">
            <div class="col-8">
              <ul class="header-buttons-left ml-0">
                <li class="dropdown">
                  <h2>
                    <strong>Vegitable Box</strong>
                  </h2>
                </li>
                <li class="dropdown m-l-20">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Search" type="text" [(ngModel)]="searchTerm" placeholder="Search" #input
                    class="browser-default search-field" aria-label="Search box" />
                </li>

              </ul>
            </div>
            <div class="col-4">
              <ul class="header-buttons">
                <li>
                  <div class="icon-button-demo">
                    <button mat-mini-fab color="primary" (click)="openDialog()">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="icon-button-demo">
                    <button mat-mini-fab color="primary" (click)="refresh()">
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div *ngIf="!giftboxCollection.length">




            <div class="card custom-card">
              <div class="body">

                <h1>No Products Available</h1>

              </div>
            </div>


          </div>
          <div class="row" *ngFor="let g of giftboxCollection|filter:searchTerm ">
            <div class="col m-1"> {{giftboxCollection.len}}
              <mat-card>
                <mat-card-header class="bg-primary text-white d-flex justify-content-between align-items-center">
                  <mat-card-title class="pt-3"> {{g.box_name}} </mat-card-title> <button mat-icon-button color="white"
                    aria-label="" (click)="delete(g._id)">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-card-header>

                <mat-card-content>
                  <div class="container">
                    <div class="row">
                      <div class=" w-25" *ngFor="let i of g.items">
                        <mat-card class="m-2" style="border: 1px solid transparent"
                          [ngStyle]="{'border':getStyleForSelected(i.mandatefield)}">
                          <mat-card-header>
                            <mat-card-title> {{i.item_name}} </mat-card-title>
                          </mat-card-header>
                          <div class="prod-card" [ngStyle]="{'background-image': 'url(' + i.item_image + ')' }"></div>

                          <mat-card-actions>
                            <button mat-button (click)="updateBox(g, i)"> {{i.mandatefield?'Mandatory':'Not Mandatory'}}
                            </button>
                          </mat-card-actions>
                        </mat-card>
                      </div>
                    </div>
                  </div>

                </mat-card-content>

              </mat-card>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>