<section class="content">
  <div class="container-fluid">
    <div class="block-header mt-n3">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="font-weight-bold">Enquiry</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="container border">
          <div class="row order-block-heading ">
            <div class="col-1">Sl.No</div>
            <div class="col-2">First Name</div>
            <div class="col-2">Last Name</div>
            <div class="col-2">Email</div>
            <div class="col-2">Mobile Number</div>
            <div class="col-2">Post Code</div>
          </div>

          <div *ngFor="let o of enquiries; let i=index">
            <div *ngIf="userInfo.role== 'admin'">
              <div class="row order-block">
                <div class="col-1">{{i}}
                </div>
                <div class="col-2">{{o.first_name}}</div>
                <div class="col-2">{{o.last_name}}</div>
                <div class="col-2">{{o.email_id}} </div>
                <div class="col-2">{{o.phone_number}} </div>
                <div class="col-2">{{o.post_code}} </div>
              </div>
            </div>
            <div *ngIf="userInfo.role== 'state_admin'">
              <div class="row order-block"
                *ngIf="o.post_code >=stateInfo.postcode_from && o.post_code <=stateInfo.postcode_to">
                <div class="col-1">{{i}}
                </div>
                <div class="col-2">{{o.first_name}}</div>
                <div class="col-2">{{o.last_name}}</div>
                <div class="col-2">{{o.email_id}} </div>
                <div class="col-2">{{o.phone_number}} </div>
                <div class="col-2">{{o.post_code}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>