<div class="card">
    <div class="card-body">
        <form action="" #vegBoxForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!addtoBox._id">
            <div class="d-flex justify-content-between align-items-center">
                <mat-form-field class="w-50 mr-1 pt-2 mt-1">
                    <mat-label>Vegitable Box Name</mat-label>
                    <input type="text" name="vegboxname" matInput [(ngModel)]="vegbox.name" placeholder="" required>
                    <mat-error *ngIf="vegboxname.hasError('required')">
                        Please Enter Box Name<strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50 mr-1 pt-2 mt-1">
                    <mat-label>Amount</mat-label>
                    <input type="number" name="vegboxprice" matInput [(ngModel)]="vegbox.amount" placeholder=""
                        required>
                    <mat-error *ngIf="vegboxprice.hasError('required')">
                        Please Enter Box Price
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-50 ml-1">
                    <mat-label>Select State</mat-label>
                    <mat-select name="state" [(ngModel)]="vegbox.state" (ngModelChange)="stateOptionChange($event)"
                        required>
                        <mat-option *ngFor="let s of statesList" [value]="s._id">{{s.state_name}} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="vegboxsize.hasError('required')">
                        Please Select a Box size
                    </mat-error>
                </mat-form-field>
                <button type="submit" mat-mini-fab color="primary" aria-label="" [disabled]="!vegBoxForm.valid">
                    <span class="material-icons-outlined">
                        send
                    </span>
                </button>

            </div>
        </form>

    </div>
    <app-products *ngIf="showproducts" [name]="vgname" [price]="vegboxtotalprice" [addtoGB]="addtoBox"
        [stateInfo]="statedetails" [stateName]="state_name"></app-products>
    <app-products *ngIf="addtoBox._id" [name]="vgname" [price]="vegboxtotalprice" [addtoGB]="addtoBox"
        [stateInfo]="statedetails" [stateName]="state_name">
    </app-products>

</div>