<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">Orders</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Orders</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Orders</strong>
                        </h2>
                      </li>


                    </ul>
                  </div>

                </div>
              </div>

              <div class="container border">
                <div class="row order-block-heading ">
                  <div class="col-3">Order Id</div>
                  <div class="col-2">Total Items</div>
                  <div class="col-2">State</div>
                  <div class="col-1">Amount</div>
                  <!-- <div class="col-1">Status</div> -->
                  <div class="col-2">Order Actions</div>
                  <div class="col-1">View Order</div>
                </div>

                <div *ngFor="let o of totalOrders">
                  <div *ngIf="userInfo.role== 'state_admin'">
                    <div class="row order-block" *ngIf="stateAssigned ===o.shipping_address.state">
                      <div class="col-3">{{o._id}}</div>
                      <div class="col-2">{{o.items.length}}</div>
                      <div class="col-2">{{o.shipping_address.state}}</div>
                      <div class="col-1">{{o.total_amount}}</div>
                      <!-- <div class="col-1">
                      <mat-icon>{{o.status === 1? 'check':'pending'}}</mat-icon>
                    </div> -->
                      <div class="col-2">
                        <button (click)="updateOrder(o, 0)" mat-icon-button
                          aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>pending</mat-icon>
                        </button>
                        <button (click)="updateOrder(o, 1)" mat-icon-button
                          aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>check</mat-icon>
                        </button>

                      </div>
                      <div class="col-1">
                        <button mat-icon-button (click)="editCall(o)"
                          aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="userInfo.role== 'admin'">
                    <div class="row order-block">
                      <div class="col-3">{{o._id}}</div>
                      <div class="col-2">{{o.items.length}}</div>
                      <div class="col-2">{{o.shipping_address.state}}</div>
                      <div class="col-1">{{o.total_amount}}</div>
                      <!-- <div class="col-1">
                      <mat-icon>{{o.status === 1? 'check':'pending'}}</mat-icon>
                    </div> -->
                      <div class="col-2">
                        <button (click)="updateOrder(o, 0)" mat-icon-button
                          aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>pending</mat-icon>
                        </button>
                        <button (click)="updateOrder(o, 1)" mat-icon-button
                          aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>check</mat-icon>
                        </button>

                      </div>
                      <div class="col-1">
                        <button mat-icon-button (click)="editCall(o)"
                          aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>