<div class="flex-container">


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


        <!-- Position Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Product Image </th>
            <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
        </ng-container>
        <ng-container matColumnDef="item_name">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let element" class="table-img"> <img class="img-fluid" src="{{element.image}}" />
            </td>
        </ng-container>
        <ng-container matColumnDef="items_available">
            <th mat-header-cell *matHeaderCellDef> Available Items </th>
            <td mat-cell *matCellDef="let element"> {{element.items_available}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price</th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="{{element.status?'white': 'warn'}}" aria-label=""
                    (click)="setValue(element, $event )">
                    <mat-icon>
                        {{element.status?'task_alt':'highlight_off'}}
                    </mat-icon>
                </button>

            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>
<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
<div class="d-flex justify-content-end">
    <h3>Total: &nbsp;{{totAmount}}</h3>
</div>
<button (click)="save()" mat-fab color="primary" aria-label="" [disabled]="!enableselectButton" *ngIf="!addtoGB">
    <mat-icon>save</mat-icon>
</button>
<span>
    {{!enableselectButton? "Please select at least one Item" :""}}
</span>
<button (click)="pushtoGiftBox()" mat-fab color="primary" aria-label="" *ngIf="addtoGB"
    [disabled]="!enableselectButtonForGiftBox">
    <mat-icon>redeem</mat-icon>
</button>