<section class="content">
  <div class="container-fluid">
    <div class="block-header mt-n3">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="font-weight-bold">Hi, Welcome back!</h4>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="w-100">
          <div class="row">
            <div class="col-sm-12 d-flex justify-content-between">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">New Customers</h5>
                    </div>
                    <div class="col-auto">
                      <div class="col-green">
                        <i class="fas fa-user-friends pull-left card-icon col-orange font-30"></i>
                      </div>
                    </div>
                  </div>
                  <h1 class="mt-1 mb-3">
                    <app-userscount></app-userscount>
                  </h1>
                  <div class="mb-0">
                    <span class="text-success m-r-10"><i class="material-icons col-green align-middle">trending_up</i>
                      10.32%
                    </span>
                    <span class="text-muted">Since last week</span>
                  </div>
                </div>
              </div>
              <div class="card w-50">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Inquiry</h5>
                    </div>
                    <div class="col-auto">
                      <div class="col-blue">
                        <i class="fas fa-headset pull-left card-icon font-30"></i>
                      </div>
                    </div>
                  </div>
                  <h1 class="mt-1 mb-3">
                    <app-enquycount></app-enquycount>
                  </h1>
                  <div class="mb-0">
                    <span class="text-success m-r-10"><i class="material-icons col-green align-middle">trending_up</i>
                      <!-- 21..19% -->
                    </span>
                    <span class="text-muted">Since last week</span>
                  </div>
                </div>
              </div>
              <div class="card ">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Revenue</h5>
                    </div>
                    <div class="col-auto">
                      <div class="col-green">
                        <i class="fas fa-dollar-sign pull-left card-icon font-30"></i>
                      </div>
                    </div>
                  </div>
                  <h1 class="mt-1 mb-3">$ <app-revenucount></app-revenucount>
                  </h1>
                  <div class="mb-0">
                    <span class="text-danger m-r-10"><i class="material-icons col-red align-middle">trending_down</i>
                      -4.27%
                    </span>
                    <span class="text-muted">Since last week</span>
                  </div>
                </div>
              </div>
              <!-- <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Orders Received</h5>
                    </div>
                    <div class="col-auto">
                      <div class="col-purple">
                        <i class="fas fa-cart-plus pull-left card-icon font-30"></i>
                      </div>
                    </div>
                  </div>
                  <h1 class="mt-1 mb-3">
                    <app-ordercount></app-ordercount>
                  </h1>
                  <div class="mb-0">
                    <span class="text-danger m-r-10"><i class="material-icons col-red align-middle">trending_down</i>
                      -10.64%
                    </span>
                    <span class="text-muted">Since last week</span>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="col-sm-6">

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="body">
            <app-orderstable></app-orderstable>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>