<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]="advanceTable.image" alt="image" /> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{ dialogTitle }}
          </div>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <table width="500px" border="0">
            <tbody>
              <tr>
                <td>Order ID</td>
                <td>{{ advanceTable._id }}</td>
              </tr>
              <tr>
                <td>Order Date</td>
                <td>{{ advanceTable.order_date | date: "MM/dd/yyyy" }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ advanceTable.email_id }}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{ advanceTable.phone_number }}</td>
              </tr>
              <tr>
                <td colspan="2"><b>Products</b></td>
              </tr>
              <tr>
                <td colspan="2">
                  <table width="100%" border="1">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let item of advanceTable.items; let i = index"
                      >
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.amount }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2"><b>Mailing Address</b></td>
              </tr>
              <tr>
                <td>Address</td>
                <td>
                  {{
                    advanceTable.mailing_address.address1 +
                      " " +
                      advanceTable.mailing_address.address2
                  }}
                </td>
              </tr>
              <tr>
                <td>City</td>
                <td>{{ advanceTable.mailing_address.city }}</td>
              </tr>
              <tr>
                <td>State</td>
                <td>{{ advanceTable.mailing_address.state }}</td>
              </tr>
              <tr>
                <td>Postcode</td>
                <td>{{ advanceTable.mailing_address.postcode }}</td>
              </tr>
              <tr>
                <td colspan="2"><b>Shipping Address</b></td>
              </tr>
              <tr>
                <td>Address</td>
                <td>
                  {{
                    advanceTable.shipping_address.address1 +
                      " " +
                      advanceTable.shipping_address.address2
                  }}
                </td>
              </tr>
              <tr>
                <td>City</td>
                <td>{{ advanceTable.shipping_address.city }}</td>
              </tr>
              <tr>
                <td>State</td>
                <td>{{ advanceTable.shipping_address.state }}</td>
              </tr>
              <tr>
                <td>Postcode</td>
                <td>{{ advanceTable.shipping_address.postcode }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
